MYSQL_ROOT_PASSWORD=supersecret
MYSQL_DATABASE=productservice

MYSQL_USER=productuser
MYSQL_PASSWORD=secret
SPRING_DATASOURCE_URL=jdbc:mysql://mysql-products:3306/productservice
SPRING_DATASOURCE_USERNAME=productuser
SPRING_DATASOURCE_PASSWORD=secret

SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://localhost:8083/.well-known/jwks.json